.contact {
  max-width: 80vw;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact iframe {
  width: 70vw;
  height: 45vh;
  border: none;
}
