.hero {
  padding-top: 20px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.hero h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: 3px;
  margin: 16px;
  border-bottom: 2px solid #f38e18;
}

.hero .info {
  max-width: 60%;
  margin: 16px;
}

.hero .info h3 {
  font-size: 1.5rem;
  color: #f38e18;
  margin-bottom: 12px;
}
