nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px #f38e18;
}

nav .logo img {
  height: 100px;
  width: 150px;
}

nav .nav-links a {
  margin-right: 16px;
}
